@model ProjectPreparing.Project.Core.Models.ShoeViewModel
<div>
    <img src="~/images/@Model.Image" alt="@Model.Name" />
    <br />
    @Model.Name
    <br />
    @Model.Color
    <br />
    @Model.Price
    <br />
    <br />
    @using (Html.BeginForm("Add", "Cart"))
    {
        @Html.HiddenFor(m => m.Id)
        <button type="submit">Köp</button>
    }
    <hr />
</div>