@model ProjectPreparing.Project.Core.Models.CheckoutViewModel
@{
    ViewData["Title"] = "Index";
}

<h2>Fill in your information, please</h2>

@using (Html.BeginForm())
{
    <br />
    @Html.LabelFor(m => m.Firstname)
    @Html.TextBoxFor(m => m.Firstname)
    <br />
    @Html.LabelFor(m => m.Lastname)
    @Html.TextBoxFor(m => m.Lastname)
    <br />
    @Html.LabelFor(m => m.Email)
    @Html.TextBoxFor(m => m.Email)
    <br />
    @Html.LabelFor(m => m.Phone)
    @Html.TextBoxFor(m => m.Phone)
    <br />
    @Html.LabelFor(m => m.City)
    @Html.TextBoxFor(m => m.City)
    <br />
    @Html.LabelFor(m => m.Zipcode)
    @Html.TextBoxFor(m => m.Zipcode)
    <br />
    <button type="submit">Place order</button>
}
